{% extends 'base/base.html'%}
{% load static %}

{% block content%}
            <!-- start reset-password form -->
            <div class="login m-auto my-5 w-50 bg-primary-xl">
                <form action="" class=" px-4 py-3 shadow rounded">
                    <h1 class="py-4 text-center fw-bold">Forget Password</h1>
                    <div class="form-group">
                        <label class="my-3 ps-1" for="">Email</label>
                        <input class="form-control" type="text" placeholder="Foulen@email.com">
                    </div>
                    <button class="btn btn-primary my-5 mx-3  px-5" type="Register">Reset Password</button>
                    <span class="mx-5 text-end">I remember my password.<a class="ps-1" href="{% url 'login'%}">Go Back</a></span>
                </form> 
            </div>
        
            <!-- end reset-password form -->
        
{% endblock content%}